input[type="button"] {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    margin-left: 10px;
}

input[type="text"] {
    border: 1px solid black;
    padding: 5px;
    width: 200px;
}

.options {
    color: #616161;
    margin: 2px 0;
    font-size: 14px;
}